.hero {
  height: 100vh;
  background: url(images/home-bg-slideshow1.jpg);
  background-position: top center;
  background-size: cover;
}

.hero-content {
  text-align: center;
}

h1, h5 {
  color: white;
}

hr {
  border-color: yellow;
}