.title-no{
    font-size: 56px;
    color: $primary-color;
}
.section-title{
    text-align: center;
}
.work, .about, .team, .portfolio, .pricing, .contact{
    padding-top: 100px;
    padding-bottom: 100px;
}
.title-hr {
    width: 180px;
    border-color: #ccc;
}